body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);   
  gap: 2px;
  width: 90vw;              
  max-width: 540px;         
  aspect-ratio: 1 / 1;      
  margin: 20px auto;
  border: 2px solid black;
}

.cell {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: clamp(16px, 3vw, 30px);
  border: 1px solid #757171;
  box-sizing: border-box;
}


.cell:nth-child(3n+1) {
  border-left: 3px solid black;
}
.cell:nth-child(9n) {
  border-right: 3px solid black;
}
.cell:nth-child(n+1):nth-child(-n+9) {
  border-top: 3px solid black;
}
.cell:nth-child(n+73):nth-child(-n+81) {
  border-bottom: 3px solid black;
}

.cell[data-row="4"],
.cell[data-row="7"] {
  border-top: 3px solid black;
}
.cell[data-col="4"],
.cell[data-col="7"] {
  border-left: 3px solid black;
}

.solved {
  color: rgb(76, 76, 251);
}

.given {
  color: black;
}

.controls {
  margin: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.solve {
  background: greenyellow;
}

.clear {
  background-color: red;
  color: white;
}


@media (max-width: 600px) {
  .grid {
    width: 95vw;     
    max-width: 400px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
